@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");

#root {
  --purple: hsl(259, 100%, 65%);
  --light-red: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --off-white: hsl(0, 0%, 94%);
  --light-grey: hsl(0, 0%, 86%);
  --smokey-gray: hsl(0, 1%, 44%);
  --off-black: hsl(0, 0%, 8%);
}

#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  background-color: var(--off-white);
  width: 100%;
}

body {
  height: 100vh;
  display: flex;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%
}
#container {
  background-color: var(--white);
  border-radius: 8px 8px 142px 8px;
  width: 355px;
  padding: 24px;
  
}

@media (min-width: 660px) {
  #container {
    width: 520px;
}
input {
  width: 140px;
}
}

@media (min-width: 1440px) {
  #container {
    width: 600px;
  }
  input{
    width: 180px;
  }
}

.inputContain {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--smokey-gray);
}

input {
  padding: 8px 16px;
  width: 100px;
  outline: none;
  border: 1px solid var(--light-grey);
  border-radius: 8px;
  font-size: 1.6rem;
  caret-color: var(--purple);
}

input:focus {
  border-color: var(--purple);
}

input::placeholder {
  font-weight: 700;
  color: var(--light-grey)
}

p {
  font-size: 2.8rem;
  font-style: italic;
  font-weight: 800;
  line-height: 1.2;
}

p > span {
  color: var(--purple);
  font-size: inherit;
}

small {
  display: block;
  font-size: 0.8rem;
}

.invalid label, small {
  color: var(--light-red);
}

.invalid small {
  display: block;
}

.invalid input {
  border-color: var(--light-red);
}

#button {
  color: var(--white);
  border-radius: 50%;
  border: none;
  background-color: var(--purple);
  transition: 250ms linear;
  cursor: pointer;
  padding: 10px;
}



#button:hover {
  background-color: var(--off-black);
}

.buttonContain {
position: relative;
text-align: right;
padding-right: 20px;
}


.attribution {
  font-size: 0.8rem;
  margin-top: 20px;
}

.attribution a {
  color: hsl(228, 45%, 44%)
}